* {
    margin: 0 auto;
}

.header {
    background-color: #4F91CD;
    text-align: center;
    color: white;
    padding-top: 50px;
}

#hero {
    background-image: url("https://github.com/techkaro-circle/tk-class02-task/blob/master/mockup/Main%20Page%20Image.PNG?raw=true");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#color {
    color: #E9535D;
    padding-top: 150px;
}

#color>h1 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    border-top: 2px solid #E9535D;
    border-bottom: 2px solid #E9535D;
}

#li>first-child {
    border-right: none;
}

.font h1 {
    font-size: 50px;
    font-style: normal;
}

.size {
    font-size: 15px;
    color: #5aa5e8;
}

.nav>ul>li {
    list-style: none;
    display: inline;
    padding: 10px 5px 10px 0px;
    padding-right: 10px;
}

.nav>ul>li>a {
    text-decoration: none;
    border-left: 1px solid white;
    padding: 5px;
    color: white;
}

.nav>ul {
    text-align: center;
    text-align: left;
}

.nav>ul>li:first-child {
    border-left: none;
}

.button {
    text-align: right;
    background-color: #4F91CD;
    color: black;
    padding-right: 20px;
}

.main>ul>li>a {
    text-decoration: none;
    border-left: .2px solid #002342;
    color: white;
    padding: 15px 8px 15px 50px;
    padding-right: 60px;
}

.main>ul {
    text-align: center;
}

.main>ul>li {
    list-style: none;
    display: inline;
    margin-right: -0.4%;
}

.main>ul>li:first-child {
    border: none;
}

.main {
    background-color: #043867;
    padding: 15px 5px 15px 0px;
}

.item {
    width: 23%;
    color: white;
}

.A {
    background-color: #7AA120;
    position: static;
    width: 100%;
    color: white;
    font-size: x-large;
}

.B,
.C,
.D {
    background-color: #E7ECF0;
    position: static;
    display: block;
    margin: 2%;
    padding: 10%;
}

.E {
    background-color: #620E6E;
    position: static;
    margin: 2%;
    padding: 10%;
    display: block;
}

.F {
    background-color: #4385C1;
    position: static;
    margin: 2%;
    padding: 10%;
    text-align: center;
    display: block;
}

.G,
.H {
    position: static;
    display: block;
    margin: 2%;
    width: 1.5%;
    padding: 2%;
    border: solid 1px;
    font-size: x-small;
    border-color: gainsboro;
    color: #7AA120;
    display: flex;
}

div>ul>li {
    list-style: none;
    color: #818EA0;
}

.main-section {
    margin-bottom: 2px;
    display: flex;
}

.heading {
    color: #7AAAD4;
}

.center {
    background-color: white;
    color: #89929e;
}

.button1 {
    color: #4385C1;
    border-color: #4385C1;
    padding: 12px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    width: 15%;
}

.container {
    text-align: center;
}

.footer {
    width: 100%;
    background-color: #34383C;
    color: white;
    text-align: left;
    padding-left: 5%;
}

.h2 {
    padding-left: 5%;
}